# This is an example .env file for the server. You should copy this to .env and fill in the values as needed.

PORT=3060

# PostgreSQL database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=harbourfront
DB_USER=postgres
DB_PASSWORD=password1234

AWS_REGION=us-east-1

# For contact form notifications for owner
SNS_TOPIC_ARN=arn:aws:sns:<region>:<account-id>:harbourfront-contact-notifications

# For newsletter subscription confirmation emails
SES_SENDER_EMAIL=info@harbourfront.<your-domain>.com

APP_BASE_URL=https://harbourfront.<your-domain>.com